<app-bind></app-bind>
<app-bind2></app-bind2>
<div>
  <p>我是父组件</p>
  <p>
    <input [(ngModel)]="search" type="text" placeholder="请输入搜索关键字" />
  </p>
  <!--
  <p>
    要搜索的关键字是：{{search}}，当前价格是：{{currentPrice | number: '2.0-0'}}
  </p>
  // 父组件向子组件传值
  <app-stock-search [keyWord]="search" (lastPrice)="searchResultHandler($event)"></app-stock-search>
  -->
</div>
<p>
  中间人模式：
</p>
<app-stock-search [keyWord]="search" (addCard)="addCarttHandler($event)"></app-stock-search>
<app-stock-cart [stockInfo]="stockInfo"></app-stock-cart>
